if (viewed_user && viewed_user.username != user.username)
	- active_menu = ''

.user-header
	if viewed_user
		img.avatar(src="/img/avatar/"+viewed_user.avatar, alt=viewed_user.username)
		h2.username(style='color:white')= viewed_user.username
	else
		img(src="/img/logo.png")
		h2.username(style='color:white')= "Hello "+user.username
	if viewed_user && viewed_user.username != user.username
		.viewer 
			img.avatar(src="/img/avatar/"+user.avatar, alt="")

ul.main-menu
	if active_menu == 'answers'
		li
			a(href='/') Dashboard
		li
			a(href='/questions')
				span Pertanyaan &nbsp;
				strong.uk-badge.notif-question 0
		li.uk-active
			a(href='/answers')
				span Jawaban &nbsp;
				strong.uk-badge.notif-answer 0
		li
			a(href='/logout') Keluar
	else if active_menu == 'questions'
		li
			a(href='/') Dashboard
		li.uk-active
			a(href='/questions')
				span Pertanyaan &nbsp;
				strong.uk-badge.notif-question 0
		li
			a(href='/answers')
				span Jawaban &nbsp;
				strong.uk-badge.notif-answer 0
		li
			a(href='/logout') Keluar
	else if active_menu == 'dashboard'
		li.uk-active
			a(href='/') Dashboard
		li
			a(href='/questions')
				span Pertanyaan &nbsp;
				strong.uk-badge.notif-question 0
		li
			a(href='/answers')
				span Jawaban &nbsp;
				strong.uk-badge.notif-answer 0
		li
			a(href='/logout') Keluar
	else
		li
			a(href='/') Dashboard
		li
			a(href='/questions')
				span Pertanyaan &nbsp;
				strong.uk-badge.notif-question 0
		li
			a(href='/answers')
				span Jawaban &nbsp;
				strong.uk-badge.notif-answer 0
		li
			a(href='/logout') Keluar

	